*{
  background-color: #F1F3F4; 
}

#profileImg  {
  width:100px;
  height:100px;
  float: left;    
  margin: 0 15px 0 0;
}

h1{
  text-align:center;
}

.aboutMe{
  text-align: center;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

main {
  padding-top: 100px;
}

.skills{
  text-align: center;
  border: 1px solid black;
  width: 30%;
  height: 200px; 
  float: left;
}

.education{
  width: 50%;
  height: 200px;
  border: 1px solid black;
  margin-left: 50%; 
  text-align:center;
}

.contactMe{
  text-align: center;
  position: relative;
  width:100%;
  border: 1px solid black;
  float: center;
}

.hdr{
  font-weight: bold;
  padding: 10px;
}

label{
  font-family: Times;
  font-size: 20px;
}

p,li{
  font-family: Arial;
  font-size: 15px;
}

li{
  text-align: left;
}

#contactTable{
   margin: 0 auto;
   border: 1px solid;
   text-align: center;
}

td{
  border: 1px solid;
  padding: 15px;
}

.nav{
  position: fixed;
  text-align: center;
  width: 100%;
  height: 19px;
  border: 1px solid black;
  padding :24px;
}

.nav, a{
  float: center;
  color: #000000;
  text-align: center;
  padding: 14px 70px;
  text-decoration: none;
  font-size: 17px;
  background-color: #9077D2;
}